#react-print-modern {
  display: none;
}
@media print {
  body {
      visibility: hidden !important;
  }
  body > * {
    height: 0 !important;
  }
  #react-print-modern {
      display: block;
      visibility: visible;
      height: auto !important;
  }
}